name: Build
# Build only for master branch and pull requests
on:
  pull_request:
  push:
    branches:
      - master
jobs:
  build:
    if: "!contains(github.event.head_commit.message, '[skip ci]')"
    runs-on: ubuntu-latest
    steps:
      # Setup
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
      - uses: rlespinasse/github-slug-action@v2.x

      # Build and test
      - name: Build docker image
        run: make build
        env:
          DOCKER_IMAGE: ${{ github.repository }}:${{ env.GITHUB_REF_SLUG }}
      - name: Test docker image
        run: make setup-test test
        env:
          DOCKER_IMAGE: ${{ github.repository }}:${{ env.GITHUB_REF_SLUG }}

      # Release
      - uses: cycjimmy/semantic-release-action@v2
        with:
          semantic_version: 17.0.7
          branches: |
            [
              'v2.x'
            ]
          extra_plugins: |
            @semantic-release/changelog@5.0.1
            @semantic-release/git@9.0.0
        env:
          GITHUB_TOKEN: ${{ secrets.GH_TOKEN }}
