name: Update Docker Hub information
on:
  release:
    types: [published]
  push:
    branches:
      - v4.x
    paths:
      - DOCKER.md
      - .github/workflows/dockerhub.yaml
jobs:
  dockerHubDescription:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Sync information on Docker Hub
        uses: peter-evans/dockerhub-description@v3
        with:
          username: rlespinasse
          password: ${{ secrets.DOCKER_PASSWORD }}
          readme-filepath: ./DOCKER.md
