name: Update Docker Hub information
on:
  release:
    types: [published]
  push:
    branches:
      - master
    paths:
      - DOCKER.md
      - .github/workflows/dockerhub.yaml
jobs:
  dockerHubDescription:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - name: Sync information on Docker Hub
        uses: rlespinasse/sync-readme@v1.0.6
        with:
          pass: ${{ secrets.DOCKER_PASSWORD }}
          readme: ./DOCKER.md
          description: true
